
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(63, 58, 71);
}



.navigation {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #333;
  color: white;
  align-items: center;
}

.navigation button {
  padding: 15px;
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
}

.navigation input[type="file"] {
  display: none;
}

.file-upload-label {
  cursor: pointer;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  margin-right: 10px;
  display: inline;
  text-align: center;
}


