:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  display: flex;
  justify-content: center;
  top: 200px;
  padding:20px;
  color: rgb(143, 66, 66);
  font-size: 3.2em;
  line-height: 1.1;
}


button:hover {
  border-color: #fcfcfc;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  margin: 0;
}

nav div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

#toggle-nav {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

#nav-links {
  list-style: none;
  display: flex;
}

#nav-links li {
  margin-right: 20px;
}

.active {
  border-bottom: 2px solid #fff;
  padding-bottom: 2px;
}
